@import '../VALUES/colors.scss';
@import '../VALUES/styles.scss';
@import '../VALUES/dimens.scss';

$transitionDuration: .5s;

.home {
    position: relative;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    // border: 2px dotted pink;
}

.games {
    margin: 10px;
    margin-bottom: 20vh;
}

figure.game,
figcaption,
img {
    border-radius: 30px;
    border: none;
}

.a-game {
    margin: 15px 10px;
}

figure.game {
    position: relative;
    width: 260px;
    height: 250px;
    @include transition(all, $transitionDuration, 0s);
    @include neumorphic-shadow($siteColor1, $siteColor1);
   
    &:active {
        @include neumorphic-shadow-active($siteColor2, $siteColor2);
    }
    
    &:hover {
        @include neumorphic-shadow-hover($siteColor2, $siteColor2);
        figcaption {
            background-color: rgba(0, 0, 0, 0.85);
            
            span {
                color: $colorAccent;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        display: block; // To remove extra white space (around 3px) at the bottom of image.
        @include transition(all, $transitionDuration, 0s);
        // border: 1px solid red;
    }

    figcaption {
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white;
        @include transition(all, $transitionDuration, 0s);
        background-color: rgba(0, 0, 0, 0.7);
        // border: 1px solid blue;

        span {
            display: block;
            color: $white;
            font-size: 38px;
            padding: 10px;
            font-family: Helvetica;
            @include transition(all, $transitionDuration, 0s);
        }
    }
}


@media only screen and (max-width: $smallMobileWidth) {
    figure.game {
        width: 100%;
        height: 250px;

        figcaption {
            span {
                font-size: 44px;
            }
        }
    }

}
