$backgroundColor: #f2f2f2;
$colorAccent: #FD8C24;
$textColor: #555555;
$labelColor: #515358;


$shadowXs:	     0 0 0 1px rgba(0, 0, 0, 0.05);
$shadowSm:	     0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow:	     0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadowMd:	     0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadowLg:	     0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$shadowXl:	     0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
$shadow2xl:	 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$shadowInner:	 inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$shadowOutline: 0 0 0 3px rgba(66, 153, 225, 0.5);
$shadowNone:	 none;