@import './components/VALUES/colors.scss';
@import './components/VALUES/dimens.scss';


:root {
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #444444;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a, a:link, a:visited {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, 'Segoe UI', 'Roboto', 'Poppins', 'Helvetica Neue', Arial, sans-serif, 
              -apple-system, BlinkMacSystemFont, 'Tahoma', 'Times New Roman', 'Oxygen', 
              'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/images/home/cool-black-background.jpg');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: rgba(0, 0, 0, .9);
  background-color: #101820FF !important;
}

@media only screen and (max-width: $largeMobileWidth) {
  body::before {
    content: "";
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

noscript {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}

/* width */
::-webkit-scrollbar {
  max-width: 10px;
}

@mixin colorWithAlpha {
  color: rgba(255, 255, 255, 0.5);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #ccc; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}

::-webkit-scrollbar-thumb:active {
  background: $siteColor2; 
}